<!DOCTYPE html>
<html ng-app='MediaDashboardApp'>
  <head>
    <title>Jukebox</title>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.js'></script>

    <script src='js/app/modules/jukebox/main.js'></script>
    <script src='js/app/modules/jukebox/services/library.js'></script>
    <script src='js/app/modules/jukebox/services/jukebox.js'></script>

    <script src='js/app/main.js'></script>
    <script src='js/app/constants/api.js'></script>
    <script src='js/app/controllers/main_controller.js'></script>

  </head>
  <body ng-controller='MainController'>
    <div ng-click='getMusic()'>{{ currentSong }}</div>
    <div ng-click='getMusic()'>{{ library }}</div>
  </body>
</html>
